<div class="container">
	<div class="row">
		<div class="col-sm-5 col-md-3">
			<div class="form-group">
				<label for="">Tên danh lam thắng cảnh</label>

				<input  
         type="text" 
         class="form-control" placeholder="" aria-describedby="helpId">

</div>
				<div class="form-group">
					<label for="">Image</label>
					<input  = "addPlace.img"
         
           type="text"  class="form-control" placeholder="" aria-describedby="helpId">

</div>
					<div class="form-group">
						<label for="">Diện tích</label>
						<input  = "addPlace.S"
         
             type="text"  class="form-control" placeholder="" aria-describedby="helpId">

</div>
					</div>
					<div class="col-sm-5 col-md-3">
						<div class="form-group">
							<label for="">Danh nhân</label>
							<input 
               type="text"   class="form-control" placeholder="" aria-describedby="helpId">

</div>
							<div class="form-group">
								<label for="">Ảnh danh nhân</label>
								<input            type="text"   class="form-control" placeholder="" aria-describedby="helpId">

</div>
								<div class="form-group">
									<label for="">Năm sinh</label>
									<input  
                   type="text"   class="form-control" placeholder="" aria-describedby="helpId">

</div>
									<div class="form-group">
										<label for="">Năm mất</label>
										<input  
                    type="text"   class="form-control" placeholder="" aria-describedby="helpId">

</div>
									</div>
          
								</div>
								<div class="form-group">
									<button  type="button"   class="btn btn-primary info">Thêm</button>   
                  		<button  type="button"   class="btn btn-primary info">Update</button>               
								</div>
           
							</div>