<div class="container">
	<div class="row">
		<div class="col-sm-5 col-md-3">
			<div class="form-group">
				<label for="">Tên danh lam thắng cảnh</label>

				<input  
         type="text" 
         class="form-control" placeholder="" aria-describedby="helpId">

</div>
				<div class="form-group">
					<label for="">Image</label>
					<input  = "addPlace.img"
         
           type="text"  class="form-control" placeholder="" aria-describedby="helpId">

</div>
					<div class="form-group">
						<label for="">Diện tích</label>
						<input  = "addPlace.S"
         
             type="text"  class="form-control" placeholder="" aria-describedby="helpId">

</div>
					</div>
					<div class="col-sm-5 col-md-3">
						<div class="form-group">
							<label for="">Danh nhân</label>
							<input 
               type="text"   class="form-control" placeholder="" aria-describedby="helpId">

</div>
							<div class="form-group">
								<label for="">Ảnh danh nhân</label>
								<input            type="text"   class="form-control" placeholder="" aria-describedby="helpId">

</div>
								<div class="form-group">
									<label for="">Năm sinh</label>
									<input  = "addPlace.born_year"
          ="addPlace.born_year= $event.target.value"
                   type="text"   class="form-control" placeholder="" aria-describedby="helpId">

</div>
									<div class="form-group">
										<label for="">Năm mất</label>
										<input  
                    type="text"   class="form-control" placeholder="" aria-describedby="helpId">

</div>
									</div>
            
<div class="col-sm-5 col-md-3">

<p ><img  style="float:right;margin-bottom:40px" *ngIf="addPlace.img != null" [src]="addPlace.img" width="200"></p>
<p><img style="float:right" *ngIf="addPlace.img_celebrity != null" [src]="addPlace.img_celebrity" width="200" ></p>
</div>
<div class="col-3">
         <img src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.0-9/84179327_3475767979160518_8587420631677534208_n.jpg?_nc_cat=106&_nc_sid=110474&_nc_ohc=P-KaA0D8APsAX-HU6N3&_nc_ht=scontent-hkt1-1.xx&oh=a4493774f21f37b4c64796ac1aabe5ce&oe=5E94E7C2" width="300" height="400" alt="right">
</div>
								</div>
								<div class="form-group">
									<button  type="button"   class="btn btn-primary info">Thêm</button>   
                  		<button  type="button"   class="btn btn-primary info">Update</button>               
								</div>
           
							</div>