<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Quản lý trường học</h1>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
		<li class="breadcrumb-item active" aria-current="page">Quản lý trường học</li>
	</ol>
</div>

<div class="card shadow-sm mb-4">
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<h6 class="m-0 font-weight-bold text-primary">Thêm & Sửa Trường Học</h6>
	</div>
	<form [formGroup]='newSchool'>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-5 col-md-3">
					<div class="form-group">
						<label for="">Tên trường học</label>
						<input class="form-control" formControlName='name' value="">
          </div>
						<div class="form-group">
							<label for="">Ảnh</label>
							<input class="form-control" formControlName='logo' value="">
          </div>
							<div class="form-group">
								<label for="">Địa chỉ</label>
								<input class="form-control" formControlName='address' value="">
          </div>
							</div>

							<div class="col-sm-5 col-md-3">
								<div class="form-group">
									<label for="">Hiệu trưởng</label>
									<input class="form-control" formControlName='president' value="">
          </div>
									<div class="form-group">
										<label for="">Thành Phố</label>
										<input class="form-control" formControlName='province' value="">
          </div>
										<div class="form-group">
											<br>

											<button style="margin-top:7px" class="btn btn-info">Lưu và Hiển Thị</button>
										</div>
									</div>
									<div class="col-sm-5 col-md-3">
										<img style="margin-top:30px; margin-left:20px" src="https://s3.amazonaws.com/uifaces/faces/twitter/vitor376/128.jpg">
      </div>
									</div>
								</div>
	</form>
</div>