/* Add application styles & imports to this file! */
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@covalent/core/theming/all-theme';

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

// custom style
$typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700)
);

@include mat-core($typography); // $typography is an **optional** argument for the mat-core
@include covalent-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$warn:    mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

// Include covalent utility classes
@include covalent-utilities();
// Include flex layout classes
@include covalent-layout();
// Include covalent color classes
@include covalent-colors();
@include covalent-theme($theme);

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


mat-icon.size-16 {
  font-size: 16px;
}

mat-icon.size-18 {
  font-size: 18px;
}

mat-icon.size-20 {
  font-size: 20px;
}