<div class="table-responsive">
	<div class="container">
								<h2 class="text-center"> Thông tin trường học</h2>
								<table class="table">
									<thead class="thead-dark">
										<tr>
											<th scope="col"></th>
											<th scope="col">Tên </th>
											<th scope="col">Địa chỉ</th>
											<th scope="col">Hiệu Trưởng</th>
											<th scope="col">Thành Phố</th>
											<th scope="col"></th>
											<th scope="col"></th>
                      <th scope="col"></th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let school of school">
											<th scope="row"> <a href="index.html"><img [src]="school.logo" class="card-img" alt="..."></a></th>
											<td>{{school.name}}</td>
											<td> {{school.address}}</td>
											<td>{{school.president}}</td>
											<td>{{school.province}}</td>
                      
											<td> <a routerLink="../addSchool"  class="btn btn-warning">Sửa</a></td>
											<td><button type="button"  name="" id="" class="btn btn-danger">Xóa</button></td>

										</tr>

									</tbody>
								</table>
							</div>
</div>