
 <div id="wrapper">
 
    <!-- Sidebar -->
    <app-header></app-header>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <app-topbar></app-topbar>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Welcome </h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
   
            </ol>
          </div>
        <router-outlet></router-outlet>
        </div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <app-footer></app-footer>
      <!-- Footer -->

    </div>
  </div>